.gitattributes export-ignore
.gitignore export-ignore
TestFlag.txt export-ignore
TestCustomCode.lua export-ignore
main.lqa export-ignore
InitialWorkflowModuleExtracted.po export-ignore
*.po~ export-ignore
GetTextExtractMessages.sh export-ignore
